<!DOCTYPE html>
<html lang="en-US">
    <head>
      <meta charset="en-US"/>
	{% block head %}
	<title>{% block title %}{% endblock %}</title>
	{% endblock %}
    </head>
    <body>
	<header>{% block header %}{% endblock %}</header>
	<nav>{% block nav %}{% endblock %}</nav>
	<main>{% block main %}{% endblock %}</main>
	<footer>{% block footer %}{% endblock %}</footer>
    </body> 
</html>
